.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-table {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightslategrey;
}

.table-row {
  text-decoration-color: ghostwhite;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchBox {
  position: relative;
  display: inline-block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 45px;
  position: absolute;
  background-color: antiquewhite;
  right: 0px;
  width: 200px;
  font-weight: bold;

  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

li a {
  color: #000;
  text-decoration: none;
}

li {
  padding: 8px 16px;
  border-bottom: 1px solid #e5e5e5;
}

li:last-child {
  border-bottom: none;
}

li:hover {
  background-color: #e5e5e5;
  color: white;
}

.button{
  width:15vh;
  height:2vh;
  background-color: lightseagreen ;
  padding:10px;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius:5px;
  font-weight:bold;
  color:white;
}

.button:before{
  content:"";
  position:absolute;
  width:0px;
  height:0px;
  border: 10px solid;
  border-color: white transparent transparent transparent;
  right:6px;
  top:18px;
}
